@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: norseBold;
    src: url(font/Norse-Bold.otf);
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
    background-color: #223E5F;
}


/* -------------------------Left Half--------------------------------------------- */

.leftHalf {
    position: relative;
    animation: 1.3s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

.container .leftHalf .image img {
    width: 40vw;
    height: 100vh;
}

.creator {
    color: white;
    position: absolute;
    bottom: 2%;
    left: 30%;
    font-size: 0.6rem;
}

.creator a {
    text-decoration: underline;
    color: white;
    font-size: 0.6rem;
}

.odinImage {
    /* display: flex; */
    display: none;
    gap: 3%;
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.294);
    position: absolute;
    top: 2%;
    animation: 1.3s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: .1s;
}

.container .leftHalf .odinImage img {
    width: 80px;
    height: 100px;
}

.odinText {
    color: white;
    font-family: norseBold, Poppins, sans-serif;
    font-size: 3rem;
}

/* -------------------------Right Half--------------------------------------------- */


.rightHalf {
    background-color: white;
    display: flex;
    flex-direction: column;
    animation: 1.3s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
    animation-delay: 0s;
}

.top-container,
.top-container-2 {
    padding-left: 5%;
    padding-right: 20%;
    margin-top: 12%;
    font-size: 1.2rem;
    font-weight: bold;
}

i {
    font-size: 1.2rem;
}

.top-container-2 {
    margin-top: 2%;
    margin-bottom: 6%;
}

.bottom-container {
    padding-left: 5%;
    padding-right: 20%;
    margin-top: 3%;
    font-size: 0.95rem;
}

a {
    text-decoration: none;
    color: green;
    font-size: 0.9 rem;
}

/* -------------------------------Form----------------------------------------------- */

.legend {
    margin-top: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.805);
}

button {
    margin-top: 4%;
    margin-left: 5%;
    background: #596D48;
    color: white;
    padding: 10px 50px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
}

button:hover {
    transform: translateY(-0.30em);

}

fieldset {
    height: 37vh;
    padding-left: 5%;
    padding-right: 20%;
    border: none;
    outline: none;
    box-shadow: 0px 10px 20px 0px rgba(128, 128, 128, 0.5);

}

.row {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstItem,
.secondItem {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.6rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.805);
    letter-spacing: 2px;
    text-transform: uppercase;
}

input {
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

.error {
    margin-top: 1%;
    font-size: 0.6rem;
    font-weight: bold;
    color: red;
    letter-spacing: 2px;
}


/* ------------------------Animation----------------------------- */



@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}




/* -------------------------------Responsive-------------------------------------------- */


@media screen and (max-width: 380px) {
    .container {
        flex-direction: column;
        overflow-y: auto;
    }

    .container .leftHalf .image img {
        width: 100vw;
    }

    .top-container,
    .top-container-2 {
        padding-left: 5%;
        padding-right: 10%;
        margin-bottom: 12%;
    }

    .row {
        flex-direction: column;
    }

    fieldset {
        padding-top: 20px;
        height: 75vh;
    }

    .firstItem,
    .secondItem {
        margin-top: 18px;
    }

    button {
        margin-top: 10%;
    }
    .bottom-container {
        margin-bottom: 10%;
    }
}


@media screen and (min-width: 390px) and (max-width: 540px){
    .container {
        flex-direction: column;
        overflow-y: auto;
    }

    .container .leftHalf .image img {
        width: 100vw;
    }

    .top-container,
    .top-container-2 {
        padding-left: 5%;
        padding-right: 10%;
        margin-bottom: 12%;
    }

    .row {
        flex-direction: column;
    }

    fieldset {
        padding-top: 20px;
        height: 60vh;
    }

    .firstItem,
    .secondItem {
        margin-top: 18px;
    }

    button {
        margin-top: 10%;
    }
    .bottom-container {
        margin-bottom: 10%;
    }
}