
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: norseBold;
    src: url(font/Norse-Bold.otf);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}


/* -------------------------Left Half--------------------------------------------- */



.container .leftHalf .image img{
    width: 40vw;
    height: 100vh;
}

.leftHalf {
    position: relative;
}

.creator {
    color: white;
    position: absolute;
    bottom: 2%;
    left: 30%;
    font-size: 0.6rem;
}

.creator a {
    color: white;
    font-size: 0.6rem;
}

.odinImage {
    display: flex;
    gap: 3%;
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20%;
}

.container .leftHalf .odinImage img {
    width: 80px;
    height: 100px;
}

.odinText {
    color: white;
    font-family: norseBold, Poppins, sans-serif;
    font-size: 6rem;
}




/* -------------------------Right Half--------------------------------------------- */


.rightHalf {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.top-container, .top-container-2{
    padding-left: 5%;
    padding-right: 20%;
    margin-top: 12%;
    font-size: 1.2rem;
    font-weight: bold;
}

i {
    font-size: 1.2rem;
}

.top-container-2 {
    margin-top: 2%;
    margin-bottom: 6%;
}

.bottom-container {
    padding-left: 5%;
    padding-right: 20%;
    margin-top: 3%;
    font-size: 0.95rem;
}
.bottom-container span {
    color: green;
    font-size: 0.9 rem;
}


/* -------------------------------Form----------------------------------------------- */

.legend {
    margin-top: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.805);
}

button {
    margin-top: 4%;
    margin-left: 5%;
    background: #596D48;
    color: white;
    padding: 10px 50px;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.25s;
}

button:hover {
    transform: translateY(-0.30em);
}

fieldset {
    height: 37vh;
    padding-left: 5%;
    padding-right: 20%;
    border: none;
    outline: none;
    box-shadow: 0px 10px 20px 0px rgba(128, 128, 128, 0.5);
    
}

.row {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstItem, .secondItem {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.6rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.805);
    letter-spacing: 2px;
    text-transform: uppercase;
}

input {
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}